* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #b3dfea;
}

body {
    height: 100svh;
    background: var(--bg-color);
    font-family: gagalin;
}

header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;

    & .cipo, .cipo-2 {
        height: 150px;
    }

    & .cipo {
        width: 230px;
    }


}

main {
    border: 1px solid yellow;
    padding: 32px 24px;

    & .boas_vindas {
        margin-bottom: 30px;
    }

    & .elements {
        display: flex;
        flex-direction: column;
        gap: 50px;

        & button {
            height: 30px;
        }
    }
}

