* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --correto: #26d782;
    --incorreto: #ee5454;
}

body {
    height: 100svh;
    background-image: linear-gradient(to bottom, rgba(255, 230, 3, 0.5), rgba(0, 232, 255, 0.8));
    font-family: gagalin;
}

header {
    display: flex;
    justify-content: space-between;

    & .cipo, .cipo-2 {
        height: 150px;
    }

    & .cipo {
        width: 230px;
    }
}

main {
    padding: 32px 24px;

    & .pergunta {
        margin-bottom: 25px;

        & p {
            font-size: 15px;
            margin-bottom: 12px;
            color: rgba(0, 0, 0, 0.5);
        }

        & h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        & .barra-progresso {
            background-color: rgba(0, 0, 0, 0.2);
            height: 15px;
            padding: 4px;
            border-radius: 999px;

            & div {
                height: 100%;
                width: 60%;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 999px;
            }
        }
    }

    & .alternativas {
        & form {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
            gap: 12px;


            & label {
                display: block;
                padding: 12px;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 18px;
                border-radius: 12px;

                &:has(input:checked) {
                    outline: 3px solid #000000;

                    & span {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                &#certo {
                    outline: 3px solid var(--correto);

                    & span {
                        background: var(--correto);
                        color: #fff;
                    }
                }

                &#errado {
                    outline: 3px solid var(--incorreto);

                    & span {
                        background: var(--incorreto);
                    }
                }

                & input {
                    display: none;
                }

                & div {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    & span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 5px;
                        width: 40px;
                        height: 40px;
                        background-color: rgba(0, 0, 0, 0.2);

                    }
                }
            }
        }

        & button {
            padding: 16px;
            border-radius: 12px;
            border: none;
            background-color: #9ad69c;
            font-family: gagalin;
            width: 100%;
            font-size: 18px;

        }

    }
}

@media (min-width: 1100px) {

}