* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --correto: #26d782;
    --incorreto: #ee5454;
}

body {
    min-height: 100svh;
    background-image: linear-gradient(to bottom, rgba(255, 230, 3, 0.5), rgba(0, 232, 255, 0.8));
    font-family: gagalin;
}

header {
    display: flex;
    justify-content: space-between;

    & .cipo, .cipo-2 {
        height: 150px;
    }

    & .cipo {
        width: 230px;
    }
}

main {
    padding: 32px 24px;
}

.pergunta {
    margin-bottom: 25px;
}

.pergunta p {
    font-size: 15px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.pergunta h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.pergunta .barra-progresso {
    background-color: rgba(0, 0, 0, 0.2);
    height: 15px;
    padding: 4px;
    border-radius: 999px;
}

.pergunta .barra-progresso div {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 999px;
}

.alternativas form {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    gap: 12px;
}

.alternativas form label {
    display: block;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
}

.alternativas form label:hover span {
    background-color: rgba(0, 0, 0, 0.4);  
}

.alternativas form label:has(input:checked) {
    outline: 3px solid #000000;

    & span {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.alternativas form label#certo {
    outline: 3px solid var(--correto);

    & span {
        background: var(--correto);
        color: #fff;
    }
}
   #correto {
    outline: 3px solid #00ff00;
}

.alternativas form label#errado {
    outline: 3px solid var(--incorreto);

    & span {
        background: var(--incorreto);
        color: #fff;
    }
}

.alternativas form label input {
    display: none;
}

.alternativas form label div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.alternativas form label div span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
}

.alternativas button {
    padding: 16px;
    border-radius: 12px;
    border: none;
    background-color: #9ad69c;
    font-family: gagalin;
    width: 100%;
    font-size: 18px;
    transition: background 0.4s;
}

.alternativas button:hover {
    background-color: #a4ffa7;
    cursor: pointer;
}

@media (min-width: 376px) and (max-width: 1099px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pergunta, .alternativas {
        width: 90vw;
        max-width: 600px;
        min-width: 300px;
    }

    .alternativas form label {
        margin-bottom: 5px;
    }

}

@media (min-width: 1100px) {
    main {
        max-width: 1160px;
        margin-inline: auto;
        display: flex;
        gap: 130px;
    }

    main section {
        width: 100%;
    }

    main .pergunta {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    main .pergunta p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 27px;
    }

    main .pergunta h2 {
        font-size: 36px;
        line-height: 42px;
    }

    main .alternativas form {
        gap: 24px;
        margin-bottom: 24px;
    }

    main .alternativas form label {
        font-size: 22px;
        padding: 18px 20px;
        border-radius: 24px;
    }

    main .alternativas form label div {
        gap: 32px;
    }

    main .alternativas form label div span {
        width: 56px;
        height: 56px;
        font-size: 28px;
    }

    main .alternativas button {
        font-size: 22px;
    }

 
}
